asgiref==3.11.0
colorama==0.4.6
crispy-bootstrap5==2025.6
Django==4.2.13
django-crispy-forms==2.3
gunicorn==24.1.1
packaging==26.0
pillow==11.0.0
qrcode==8.0
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.11.0
